body{
    font-family: 'Verdana';
}
/* div{
    background-color: orange;
} */
#menus{
    background-color: rgb(219, 241, 169);
    padding: 10px;
    text-align: center;

}
#menus a{
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    padding: 4px;
    width:80px;
    text-align: center;
    border: 2px solid silver;
    border-radius: 20px;
    
}
